html {
	background-color: #fff;
	font-size: 100%;
}
	
body {
	margin: 0 auto;
	padding: 0;
	color: #b23738;
	font-family: 'Varela',								'Questrial', Arial, Sans-serif;	
	font-size: 100%;
}

.bg-light {
	width: 100%;
}

.bg-dark {
	width: 100%;
	background-color: #d04b4c;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 50px 0px 50px;
}

.footer-item {
	width: 220px;
	height: 340px;
	margin-right: 20px;
	/*background-color: #c9c9c9;*/
	float: left;	
}

.clear {
	clear: both;
}

#header-wrapper {
	height: 470px;
	color: #d04b4c;
}

#header-left {
	width: 640px;
	height: 470px;
	vertical-align: top;
	float: left;
}

#header-photo {
	height: 410px;
	width: 640px;
	background: url('images/cover.jpg');
}

#header-right {
	width: 360px;
	height: 470px;
	float: right;
}

#header-right-top {
	height: 270px;	
}

#header-title {
	padding: 30px 0 0 20px;
	font-size: 200%;
}

#header-date {
	padding-left: 20px;
	font-size: 90%;
}

#header-summary {
	padding-left: 20px;
}

#header-readmore {
	height: 24px;
	width: 75px;
	overflow: hidden;
}

#header-readmore img:hover {
	position: relative;
	bottom: 24px;
}

#header-right-bottom {
	height: 200px;
	width: 360px;
}

#lelogo {
	height: 200px; 
	width: 200px; 
	background: url('images/logo.jpg');
	position: relative;
	left: 160px;
}

#body-wrapper {
	width: 1000px;
	margin: 0 auto;
	height: 375px;
	color: #ffffff;
	display: table;
}

#post-pic {
	float: right;
	clear: left;
	margin-left: 7px;
}
	
#body-left {
	width: 70%;
	height: 375px;
	display: table-cell;
}

#post-title {
	font-size: 1.5em;
	margin: 0 0 0 5px;
	padding: 5px 0 0 5px;
}

#post-summary {
	margin: 0 0 0 10px;	
	height: 150px;
	width: 285px;
}

#post-wrapper {
	padding: 35px 0 0 0;
	width: 700px;
	height: 300px;	
}

#post-date {
	word-spacing: 4px;
	font-size: 75%;
	margin: 0 0 10px 10px;
}

#body-read-more {
	float: right;
	position: relative;
	left: 6px;
	bottom: 0px;
	width: 75px;
	height: 24px;
	overflow: hidden;
}
#body-read-more img {
	position: relative;
	bottom: 24px;
}

#body-read-more img:hover {
	position: relative;
	bottom: 0px;
}

#body-right {
	width: 30%;
	background-color: #fff;
	display: table-cell;
	color: #b23738;
}

#body-right-content {
	height: 375px;
	width: 300px;
}

#nav {
	position: relative;
	left: 80px;
	bottom: 20px;
	font-size: 120%;
	letter-spacing: 3px;
	word-spacing: 5px;
}

#nav ul {
	list-style: square url("images/bullets.jpg");
}

#nav li {
	margin-bottom: 10px;
}

#nav a {
	text-decoration: none;
	color: #b23738;
}

#nav a:hover {
	color: #ea595a;
	letter-spacing: 5px;
	transition: color 0.4s, letter-spacing 0.4s;
	-moz-transition: color 0.4s, letter-spacing 0.4s; /* Firefox 4 */
	-webkit-transition: color 0.4s, letter-spacing 0.4s; /* Safari and Chrome */
	-o-transition: color 0.4s, letter-spacing 0.4s; /* Opera */
}

#footer-wrapper {
	color: #b23738;
	padding-top: 20px;
	padding-bottom: 60px;
}

.footer-item .post-title {
	font-size: 125%;
}

.footer-item .post-date {
}

.footer-item .post-readmore {
	margin-top: 5px;
	width: 75px;
	height: 24px;
	overflow: hidden;
}

.footer-item .post-readmore img:hover {
	position: relative;
	bottom: 24px;
}

#bot-spacer {
	height: 30px;
}

#copyright-wrapper {
	margin-top: 5px;
	height: 50px;
	text-align: center;
}
